#splash-screen {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #428bff, #ff59e8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    margin: 0;
    padding:0;
}
.logo-container h1 {
    font-size: 4rem; 
    font-weight: bold;
    color: white;
    text-align: center; 
    margin: 0;
    animation: fadeIn 1.5s ease-in-out; 
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
body {
    min-height: 100vh;
    background: linear-gradient(135deg, #2a1846 0%, #1a1c3d 50%, #143d4b 100%);
    color: white;
    overflow-x: hidden;
}


.projects-container {
    padding: 4rem;
    text-align: center;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}

.project-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.project-box:hover {
    transform: translateY(-10px);
    background: rgba(255, 255, 255, 0.2);
}

.project-details {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 60%;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 1rem;
    padding: 1rem;
    z-index: 2000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.project-details.hidden {
    display: none;
}

#project-video {
    width: 100%;
    height: 70%;
    border-radius: 0.5rem;
}

#github-link {
    color: #428bff;
    text-decoration: none;
    font-weight: bold;
    margin-top: 1rem;
}

button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #428bff;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

button:hover {
    background: #ff59e8;
}
#other-prj, #skills {
    display: block;
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    height: 100%;
    line-height:1.2;
    max-width: 600px;
    margin-top: 120px;
}
#other-prj:hover, #skills:hover{
    transform: translateY(-10px);
}

